.check_circle {
    color: white;
    width: 24px;
    height: 31px;
    margin-left: 100px;
}

.check_circle_checked {
    color: white;
    width: 24px;
    height: 31px;
    margin-left: 100px;
    justify-content: right;
}